
.clients__list {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;

    @include media($desktop) {
        flex-wrap: nowrap;
    }
}

.clients__item {
    margin: 15px;
    
    width: calc((100% - 2 * 30px) / 2);

    // @include media($tablet) {
    //     flex-basis: calc((100% - 6 * 15px) / 3);
    // }

    @include media($tablet) {
        // max-width: 226px;
        width: calc((100% - 3 * 30px) / 3);
    }

    @include media($desktop) {
        // max-width: 170px;
        width: calc((100% - 6 * 30px) / 6);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 110px;
    
    // width: calc((100% - 2 * 30px) / 2);
    // max-width: 210px;
    height: 92px;

    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);

    transition: color var(--trans-duration) var(--trans-func),
        border var(--trans-duration) var(--trans-func);

    &:hover,
    &:focus{
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

}

.clients__icon {
    fill: currentColor;
}