body {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    background-color: var(--background-white-color);
    color: var(--text-color);
}

.btn {
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: none;
}

.section {
    padding: var(--typical-padding) 0;

    &__title {
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin-bottom: 30px;

        @include media($desktop) {
                font-size: 36px;
                line-height: 1.17;
                margin-bottom: 50px;
            }
    }

    @include media($desktop) {
        padding: var(--typical-desktop-padding) 0;  

    }
}

