.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include media($mobile) {
        max-width: $mobile;
        background-color: tomato;
    }

    @include media($tablet) {
        max-width: $tablet;
        background-color: yellowgreen;
    }
    
    @include media($desktop) {
        max-width: $desktop;
        background-color: lightblue;
    }
}