.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include media($mobile) {
        max-width: $mobile;       
    }

    @include media($tablet) {
        max-width: $tablet;        
    }
    
    @include media($desktop) {
        max-width: $desktop;        
    }
}