.features__list{
    margin: -15px;

    @include media($tablet) {        
        display: flex;
        flex-wrap: wrap;        
    }
}

.features__item {
    margin: 15px;
    
    @include media($mobile) {
        width: var(--mobile-item-width);
    }

    @include media($tablet) {
        width: var(--tablet-item-width);
    }

    @include media($desktop) {
        width: var(--desktop-item-width);
    }
}

.features__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    
    background-color: var(--background-light-color);
    border-radius: 4px;
}

.features__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}