.hero {
    background-color: var(--background-dark-color);
}

.hero__container {
    width: 100%;
    max-width: 480px;
    
    padding: 118px 0;
    margin: 0 auto;

    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-mob.jpg);
    
    @include bg_x2 {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-mob@2x.jpg);
    }

    @include media($tablet) {
        max-width: 768px;
            
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-tab.jpg);

        @include bg_x2 {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-tab@2x.jpg);
        }
    }

    @include media($desktop) {
        max-width: 1600px;
        padding: 200px 0; 

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-desk.jpg);  
        
        @include bg_x2 {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-desk@2x.jpg);
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-light-color);
    margin: 0 auto 30px;
    max-width: 696px;

    @media screen and (max-width: 400px) {
        font-size: 36px;
    }
}

.hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-color);
    color: var(--text-light-color);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
}