:root {
    --title-color: #212121;
    --text-color: #757575;
    --icon-color: #AFB1B8;
    --text-light-color: #ffffff;
    --nav-color: #212121;
    --logo-header-color: #000000;
    --logo-footer-color: #ffffff;
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --background-white-color: #ffffff;
    --footer-color: #ffffff;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --join-link-bg-color: rgba(255, 255, 255, 0.1);
    --border-color: #EEEEEE;
    --border-header-color: #ECECEC;   
    --border-input-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);

    --typical-desktop-padding: 94px;
    --typical-padding: 60px;
    --trans-duration: 250ms;
    --trans-func: cubic-bezier(0.4, 0, 0.2, 1);

    --mobile-item-width: 450px;
    --tablet-item-width: 354px;
    --desktop-item-width: 270px;
}